<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CharmReader"
        android:networkSecurityConfig="@xml/network_security_config"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".ui.autentication.LoginActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="true"
            android:theme="@style/Theme.App.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.autentication.RegisterActivity"
            android:windowSoftInputMode="adjustResize"/>

        <activity android:name=".ui.autentication.RecuperacionActivity"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".ui.MainActivity"
            android:windowSoftInputMode="adjustPan"> </activity>

        <activity android:name=".ui.priv.tusLibros.CargarNuevoLibroActivity"/>

        <activity android:name=".ui.priv.futuro.NuevoFuturoLibroActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.Transparent"/>

        <activity android:name=".ui.priv.tusLibros.VisorActivity"/>

        <activity android:name=".ui.priv.estanteria.NuevaEstanteriaActivity"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/Theme.Transparent"/>

        <activity android:name=".ui.priv.estanteria.NuevoLibroEstanteriaActivity"/>

        <activity android:name=".ui.priv.estanteria.LibrosEstanteriaActivity"/>

        <activity android:name=".ui.priv.estanteria.ValoracionLibroActivity"
            android:theme="@style/Theme.Transparent"/>

        <activity android:name=".ui.priv.proximamente.BuscadorAPIExternaActivity"/>

        <activity android:name=".ui.priv.proximamente.ProximoLibroActivity"
            android:windowSoftInputMode="adjustResize"/>

        <activity android:name=".ui.priv.futuro.FuturoLibroActivity"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/Theme.Transparent"/>

        <activity android:name=".ui.publ.PublicActivity"
            android:windowSoftInputMode="adjustPan"/>

        <activity android:name=".ui.publ.explorar.InfoGrupoPublicaActivity"/>

        <activity android:name=".ui.publ.misGrupos.suscritos.InfoGrupoPrivadaActivity"/>

        <activity android:name=".ui.publ.misGrupos.creados.ManejoGrupoActivity"/>

        <activity android:name=".ui.publ.misGrupos.suscritos.LibroActualActivity"/>

        <activity android:name=".ui.publ.misGrupos.suscritos.ValoracionLibroNuevaActivity"
            android:theme="@style/Theme.Transparent"/>

        <activity android:name=".ui.publ.misGrupos.suscritos.ValoracionesLibroActivity"/>

        <activity android:name=".ui.publ.misGrupos.suscritos.ValoracionGrupoActivity"
            android:theme="@style/Theme.Transparent"
            android:windowSoftInputMode="adjustResize"/>

        <activity android:name=".ui.publ.misGrupos.suscritos.ResenasGrupoPrivadaActivity"
            android:windowSoftInputMode="adjustResize"/>


        <activity android:name=".ui.publ.misGrupos.creados.SuscritosActivity"/>

        <activity android:name=".ui.publ.misGrupos.creados.EditarGrupoActivity"
            android:windowSoftInputMode="adjustResize"/>

        <activity android:name=".ui.publ.misGrupos.creados.NuevoLibroPropuestoActivity"/>

        <activity android:name=".ui.publ.misGrupos.creados.GestionSesionesActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name=".ui.publ.misGrupos.creados.NuevaSesionActivity"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/Theme.Transparent"/>

        <activity android:name=".ui.publ.misGrupos.creados.NuevoGrupoActivity"
            android:windowSoftInputMode="adjustResize"/>

        <activity android:name=".ui.autentication.PerfilActivity"/>

        <activity android:name=".ui.admin.AdminMainActivity"/>

        <activity android:name=".ui.admin.GestionUsuariosActivity"/>

        <activity android:name=".ui.admin.GestionGruposActivity"/>

        <activity android:name=".ui.admin.EstadisticasAdminActivity"/>

        <activity android:name=".ui.admin.GestionBackupActivity"/>


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>