<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CharmReader"
        android:networkSecurityConfig="@xml/network_security_config">

        <activity
            android:name=".autentication.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".autentication.RegisterActivity" />

        <activity android:name=".autentication.RecuperacionActivity" />

        <activity android:name=".menu.MainActivity" />

        <activity android:name=".menu.priv.tusLibros.CargarNuevoLibro"/>

        <activity android:name=".menu.priv.futuro.NuevoFuturoLibro"/>

        <activity android:name=".Visor"/>

        <activity android:name=".menu.priv.tusLibros.Visor_n"/>

        <activity android:name=".menu.priv.estanteria.CargarNuevaEstanteria"/>

        <activity android:name=".menu.priv.estanteria.CargarNuevoLibroEstanteria"/>

        <activity android:name=".menu.priv.estanteria.LibrosEstanteria"/>

        <activity android:name=".menu.priv.estanteria.ValoracionLibro"/>

        <activity android:name=".menu.priv.proximamente.BuscadorAPIExterna"/>

        <activity android:name=".menu.priv.proximamente.ProximoLibro"/>

        <activity android:name=".menu.priv.futuro.FuturoLibro"/>

        <activity android:name=".menu.publ.Public"/>

        <activity android:name=".menu.publ.explorar.InfoGrupoPublica"/>

        <activity android:name=".menu.publ.misGrupos.suscritos.InfoGrupoPrivada"/>

        <activity android:name=".menu.publ.misGrupos.creados.ManejoGrupo"/>

        <activity android:name=".menu.publ.misGrupos.suscritos.LibroActual"/>

        <activity android:name=".menu.publ.misGrupos.suscritos.ValoracionLibroNueva"/>

        <activity android:name=".menu.publ.misGrupos.suscritos.ValoracionesLibro"/>

        <activity android:name=".menu.publ.misGrupos.suscritos.ValoracionGrupo"/>

        <activity android:name=".menu.publ.misGrupos.creados.Suscritos"/>

        <activity android:name=".menu.publ.misGrupos.creados.EditarGrupo"/>

        <activity android:name=".menu.publ.misGrupos.creados.NuevoLibroPropuesto"/>

        <activity android:name=".menu.publ.explorar.NuevoGrupo"/>

        <activity android:name=".autentication.Perfil"/>

        <activity android:name=".admin.AdminMainActivity"/>

        <activity android:name=".admin.GestionUsuarios"/>

        <activity android:name=".admin.GestionGrupos"/>

        <activity android:name=".admin.EstadisticasAdmin"/>


    </application>

</manifest>